<% content_for :title, "Services" %>

<h1>Services#index</h1>
<p>Find me in app/views/services/index.html.erb</p>

<ul>
    <li><%= link_to 'Web Development', services_web_development_path %>
    <li><%= link_to 'Ruby on Rails', services_ruby_on_rails_path %>
    <li><%= link_to 'Wordpress', services_wordpress_path %>
    <li><%= link_to 'Mobile Apps', services_mobile_apps_path %>
    <li><%= link_to 'React Native', services_react_native_path %>
    <li><%= link_to 'Firebase', services_firebase_path %>
</ul>
