<div id="blog">
  <div class="row">
      <section class="blog col-md-12 bottom_30">
          <div class="col-md-12 content-header">
              <div class="section-title top_30 bottom_15"><span></span><h2>Blog Posts</h2></div>
          </div>
          <div id="grid-blog" class="row">
              <!-- a blog -->
              <div class="cbp-item">
                  <a href="blog-posts/blog-1.html" class="blog-box">
                      <div class="blog-img">
                          <img src="images/blogs/blog-6.jpg" alt="">
                      </div>
                      <div class="blog-box-info">
                          <span class="category">General</span> 
                          <h2 class="title">See my current workspace</h2>
                          <p class="little-text">The first thing to remember about success is that it is a process.</p>
                          <span class="date">8 Nov 17</span>
                      </div>
                  </a>
              </div>
              <!-- a blog -->
              <div class="cbp-item">
                  <a href="blog-posts/blog-video-version.html" class="blog-box">
                      <div class="blog-img">
                          <img src="images/blogs/blog-2.jpg" alt="">
                      </div>
                      <div class="blog-box-info">
                          <span class="category">Web Design</span>
                          <h2 class="title">How to become a web designer?</h2>
                          <p class="little-text">He must have tried it a hundred times, shut his eyes so that he wouldn't have to look at the floundering.</p>
                          <span class="date">27 Oct 17</span>
                      </div>
                  </a>
              </div>
              <!-- a blog -->
              <div class="cbp-item">
                  <a href="blog-posts/blog-music-version.html" class="blog-box">
                      <div class="blog-img">
                          <img src="images/blogs/blog-3.jpg" alt="">
                      </div>
                      <div class="blog-box-info">
                          <span class="category">User İnterface</span>
                          <h2 class="title">Why is it better to work nights?</h2>
                          <p class="little-text">Legs, and only stopped when he began to feel a mild, dull pain there that he had never felt.</p>
                          <span class="date">19 Oct 17</span>
                      </div>
                  </a>
              </div>
              <!-- a blog -->
              <div class="cbp-item">
                  <a href="blog-posts/blog-video-version.html" class="blog-box">
                      <div class="blog-img">
                          <img src="images/blogs/blog-4.jpg" alt="">
                      </div>
                      <div class="blog-box-info">
                          <span class="category">Photography</span>
                          <h2 class="title">Can you work everywhere?</h2>
                          <p class="little-text">Drops of rain could be heard hitting the pane, which made him feel quite sad..</p>
                          <span class="date">28 Sep 17</span>
                      </div>
                  </a>
              </div>
              <!-- a blog -->
              <div class="cbp-item">
                  <a href="blog-posts/blog-1.html" class="blog-box">
                      <div class="blog-img">
                          <img src="images/blogs/blog-5.jpg" alt="">
                      </div>
                      <div class="blog-box-info">
                          <span class="category">Other</span>
                          <h2 class="title">How to connect your imac or macBook</h2>
                          <p class="little-text">However hard he threw himself onto his right, he always rolled back to where he was.</p>
                          <span class="date">19 Agu 17</span>
                      </div>
                  </a>
              </div>
              <!-- a blog -->
              <div class="cbp-item">
                  <a href="blog-posts/blog-1.html" class="blog-box">
                      <div class="blog-img">
                          <img src="images/blogs/blog-6.jpg" alt="">
                      </div>
                      <div class="blog-box-info">
                          <span class="category">Work Space</span>
                          <h2 class="title">I'm starting a new project</h2>
                          <p class="little-text">The first thing to remember about success is that it is a process...</p>
                          <span class="date">1 Jul 17</span>
                      </div>
                  </a>
              </div>  
          </div>
          <!-- load more button -->
          <div id="load-posts" class="cbp-l-loadMore-button top_60">
              <a href="load-more/blog-posts.html" class="cbp-l-loadMore-link site-btn" rel="nofollow">
                  <span class="cbp-l-loadMore-defaultText">Load More (<span class="cbp-l-loadMore-loadItems">3</span>)</span>
                  <span class="cbp-l-loadMore-loadingText">Loading...</span>
                  <span class="cbp-l-loadMore-noMoreLoading">No More Works</span>
              </a>
          </div>
      </section>
  </div>
</div>
 
<%= link_to 'New Article', new_article_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy', article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>