<div class="row">
    <section class="clients col-md-12 graybg padding_45 padbot_45">
        <div class="section-title bottom_30"><span></span><h2>Clients</h2></div>
        <div class="row">
            <%= render partial: 'client_logo', locals: {client_name: "c2fo"} %>
            <%= render partial: 'client_logo', locals: {client_name: "betablox"} %>
            <%= render partial: 'client_logo', locals: {client_name: "mindsport"} %>
            <%= render partial: 'client_logo', locals: {client_name: "wabbit"} %>
            <%= render partial: 'client_logo', locals: {client_name: "gavel-it"} %>
            <%= render partial: 'client_logo', locals: {client_name: "jackpot"} %>
        </div>
    </section>
</div>