<%= form_with url: contact_send_path, local: true, class: "site-form" do |form| %>
    <div class="row">
        <div class="col-md-6">
            <%= text_field_tag :name, nil, class: "site-input", placeholder: "Name", required: true %>
        </div>
        <div class="col-md-6">
            <%= email_field_tag :email, nil, class: "site-input", placeholder: "E-mail", required: true %>
        </div>
        <div class="col-md-12">
            <%= text_area_tag :message, nil, class: "site-area", placeholder: "Message", required: true %>
        </div>
        <div class="col-md-12 top_15 bottom_30">
            <%= submit_tag "Submit", class: "site-btn", type: "Submit" %>
        </div>
    </div>
<% end %>