<header class="col-md-12">
    <nav>
        <div class="row">
            <!-- navigation bar -->
            <div class="col-md-8 col-sm-8 col-xs-4">
                <ul class="tabs">
                    <li class="tab">
                        <%= active_link_to 'START HERE', root_path, active: :exact %>
                    </li>
                    <li class="tab">
                        <%= active_link_to 'RESUME', resume_path %>
                    </li>
                    <li class="tab">
                        <%= active_link_to 'PORTFOLIO', portfolio_path %>
                    </li>
                    <li class="tab">
                        <%= active_link_to 'BLOG', articles_path %>
                    </li>
                    <li class="tab">
                        <%= active_link_to 'CONTACT', contact_path %>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-8 dynamic">
                <div class="pull-right hidden-xs">
                    <%= render 'layouts/hire_me_button' %>
                </div>
                <div class="hamburger pull-right hidden-lg hidden-md"><i class="fa fa-bars" aria-hidden="true"></i></div>
                <div class="hidden-md social-icons pull-right"> 
                    <a class="fb" href="<%= facebook_url %>" target="_blank">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a> 
                    <a class="li" href="<%= linkedin_url %>" target="_blank">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a> 
                </div>
            </div>
        </div>
    </nav>
</header>