<div class="profile">
    <div class="profile-name">
        <span class="name"><%= my_full_name %></span><br>
        <span class="job"><%= my_job_title %></span>
    </div>

    <figure class="profile-image">
        <img src="/images/profile.png" alt="">
    </figure> 
    <ul class="profile-information">
        <li></li>
        <li><p><span>Name:</span> <%= my_full_name %></p></li>
        <li><p><span>Job:</span> <%= my_job_title %></p></li>
        <li><p><span>Email:</span> <%= my_email %></p></li>
    </ul>
    <div class="profile-hire-me">
        <%= render 'layouts/hire_me_button' %>
    </div>
</div>