<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'reset', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'bootstrap', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'font-awesome.min', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'owl.theme', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'owl.carousel', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'mat-vcard.theme', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!-- Wrapper --> 
  <div class="wrapper top_60 container">
  <div class="row">
    <!-- Profile Section --> 
    <div class="col-lg-3 col-md-4">
        <div class="profile">
            <div class="profile-name">
                <span class="name">John Rake</span><br>
                <span class="job">Web Developer</span>
            </div>
            <figure class="profile-image">
                <img src="images/profile.jpg" alt="">
            </figure> 
            <ul class="profile-information">
                <li></li>
                <li><p><span>Name:</span> John Rake</p></li>
                <li><p><span>Job:</span> Freelancer</p></li>
                <li><p><span>Email:</span> john.rake12@gmail.com</p></li>
            </ul>
            <div class="col-md-12">
                <button class="site-btn icon">Download Cv <i class="fa fa-download" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>

    <!-- Page Tab Container Div -->   
    <div id="ajax-tab-container" class="col-lg-9 col-md-8 tab-container">

    <!-- Header
    ================================================== --> 
    <div class="row">
      <header class="col-md-12">
          <nav>
              <div class="row">
                  <!-- navigation bar -->
                  <div class="col-md-8 col-sm-8 col-xs-4">
                      <ul class="tabs">
                          <li class="tab">
                              <a class="home-btn" href="#home"><i class="fa fa-home" aria-hidden="true"></i></a>
                          </li>
                          <li class="tab"><a href="#resume">RESUME</a></li>
                          <li class="tab"><a href="#portfolio">PORTFOLIO</a></li>
                          <li class="tab"><a href="#blog">BLOG</a></li>
                          <li class="tab"><a href="#contact">CONTACT</a></li>
                      </ul>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-8 dynamic">
                      <button class="pull-right site-btn icon hidden-xs">Hire Me <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                      <div class="hamburger pull-right hidden-lg hidden-md"><i class="fa fa-bars" aria-hidden="true"></i></div>
                      <div class="hidden-md social-icons pull-right"> 
                          <a class="fb" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> 
                          <a class="tw" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> 
                          <a class="ins" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a> 
                          <a class="dr" href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a> 
                      </div>
                  </div>
              </div>
          </nav>
      </header>
      <!-- Page Content
      ================================================== --> 
      <div class="col-md-12">
        <div id="content" class="panel-container">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  </div>
  </body>
</html>
