<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'bootstrap', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'reset', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'font-awesome.min', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'owl.theme', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'owl.carousel', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'mat-vcard.theme', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'colors/blue', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'cubeportfolio.min', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!-- Wrapper --> 
  <div class="wrapper top_60 container">
  <div class="row">
    <div class="col-lg-3 col-md-4">
      <%= render 'layouts/profile' %>
    </div>

    <!-- Page Tab Container Div -->   
    <div id="ajax-tab-container" class="col-lg-9 col-md-8 tab-container">

    <div class="row">
      <%= render 'layouts/header' %>
    
      <div class="col-md-12">
        <div id="content" class="panel-container">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </div>
  </div>

    <%= javascript_include_tag 'jquery-2.1.4.min' %>
    <%= javascript_include_tag 'jquery.cubeportfolio.min' %>
    <%= javascript_include_tag 'bootstrap.min' %>
    <%= javascript_include_tag 'jquery.easytabs.min' %>
    <%= javascript_include_tag 'owl.carousel.min' %>
    <%= javascript_include_tag 'mat-vcard' %>
    <%= javascript_include_tag 'jquery.cookie-1.4.1.min' %>
  </body>
</html>